
.login-box{
    background-color: white;
    height: 500px;
    width: 500px;
}

.login-page-container {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 90vh;            
    background-color: #f0f0f0; 
  }
  
  .login-box {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
  }
  
  .registration{
    display: flex;
    justify-content: center;
  }

  .forgot-pass{
    display: flex;
    justify-content: flex-end;
  }